# Virtual environment
.lgvenv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large dataset
data/*.csv
data/*.xlsx
data/*.xls

# Trained models
models/*.joblib
models/*.pkl
models/*.pickle

# Generated outputs
outputs/APL_Logistics_cleaned.csv
outputs/APL_Logistics_ml_ready.csv


# Streamlit
.streamlit/

# Logs
*.log

# Temporary files
*.tmp